<h3>All Cocktails</h3>
      <div class="cards">
          <% @cocktails.each do |cocktail| %>
          <% if cocktail.photo.attached? %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 150, width: 200, crop: :fit %>')">
          <div class="d-flex justify-content-around align-items-center h-75 d-inline-block">
              <h2><%= cocktail.name %></h2>
              <ul>
                <% cocktail.ingredients.each do |ingredient| %>
                  <li>
                    <%= ingredient.name %>
                    <% end %>
                  </li>
              </ul>
               <div class="del">
                <%= link_to '+', cocktail_path(cocktail), method: :delete, data: { confirm: 'Are you sure?' } %>
               </div>
          </div>
      <div class="links d-flex justify-content-between align-items-end">
        <%= link_to new_cocktail_dose_path(cocktail) do %>
          <i class="fa fa-plus"></i> Dose
        <% end %>
        <%= link_to cocktail_path(cocktail) do %>
          <i class="fa fa-plus"></i> Details
        <% end %>
      </div>
        </div>
<% end %>

    <% end %>
      </div>



