<h1><%= @cocktail.name  %></h1>
<ul>
  <% @cocktail.doses.each do |dose| %>
  <li>
    <%= link_to "x", dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
    <%= dose.description %>
    <%= dose.ingredient.name %>
  <% end %>
  </li>
</ul>
<div>
<%= link_to "Cocktails", cocktails_path %>
<%= link_to "add a dose", new_cocktail_dose_path(@cocktail) %>
</div>
